/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.trackitem {
    font-size: 20;
    vertical-align: middle;
}

.track {
    font-weight: bold;
}

.artist {
    font-style: italic;
    font-weight: light;
    font-size: 15px;
}

.oh-no {
    font-size: 18;
}

.vote {
    width: 70px;
    z-index: 9001;
    position: relative;
}

.vote, .delete {
    width: 70px;
}

.current {
    background-color: #C1C1C1;
    z-index: -1;
}

.resultspans {
  color: white;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


